In [2]:
import MySQLdb

In [3]:
def connectSQL():
    conn = MySQLdb.connect(host='127.0.0.1',port=3306,user='root',passwd='',db='try_ptt_beauty')
    cursor=conn.cursor()
    return(conn,cursor)

In [4]:
def insertSQL(conn,cursor,image_name,article_id):
    SQLQuery="""INSERT INTO PICTURE(IMAGE_NAME,SOURCE_URL)VALUES(%s,%s)"""
    cursor.execute(SQLQuery,(image_name,article_id))
    conn.commit()

In [5]:
def disconnectSQL(conn):
    conn.close()

In [11]:
!jupyter nbconvert --to script connectSQL.ipynb

[NbConvertApp] Converting notebook connectSQL.ipynb to script
[NbConvertApp] Writing 712 bytes to connectSQL.py